@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  h2 {
    font-size: larger;
    font-weight: 500;
    margin-top: 40px;
  }

  p a {
    color: blue;
    text-decoration: underline;
  }
  :root {
    --color-background: #fff;
    --color-background-muted: #4b5563;
    --color-background-medium: #d1d5db;

    --color-text: black;
    --color-header: 0, 0, 0;
    --color-header-text: 245, 245, 245;
    --color-text-muted: #4b5563;

    --color-focus: #06b6d4;
    --color-anchor: #8b5cf6;
    --color-anchor-hover: #a78bfa;

    --color-primary: #fee2e2;
    --color-secondary: #fef3c7;
  }
}

@layer utilities {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none !important;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: transparent !important;
  }
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

.katex {
  font: normal 1em KaTeX_Main, "Noto Sans KR" !important;
}

.katex .mfrac .frac-line {
  display: inline-block;
  width: 100%;
  border-bottom-width: 1px !important;
  border-bottom-color: black !important;
}

.overline-line {
  width: 100%;
  border-top-width: 1px !important;
  border-top-color: black !important;
}

#content {
  height: calc(100vh - 230px);
  width: inherit;
  margin-top: 30px;
}

img {
  min-width: 300px;
  max-height: 350px;
  margin: auto;
  display: block;
}

.categoryItem {
  grid-column-start: auto;
  grid-row-start: auto;
  margin: 5px;
}

#categoryTableDiv {
  display: grid;
  height: calc(100vh - 200px);
  grid-auto-rows: 45px;
  grid-template-rows: repeat(auto-fill, minmax(45px, 1fr));
}

.categoryItem > h2 {
  margin: 0;
}

h1 {
  margin-bottom: 30px;
  font-size: 3em;
}

#withoutPDFdiv {
  height: calc(100vh - 10px);
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}

#rootLayout {
  margin-left: 5vw;
  margin-top: 5vh;
}

.hline {
  border-top-width: 1px !important;
  border-top-color: black !important;
}

.vertical-separator {
  border-left-width: 1px !important;
  border-left-color: black !important;
}

.grid-cols-4 {
  margin-top: 20px;
}

.katex .vlist-t2 {
  margin-right: 0px !important;
}

img[alt="Profile picture"] {
  min-height: auto;
  min-width: auto;
}

img[src*="creativecommons"] {
  min-height: auto;
  min-width: auto;
  margin-left: 0;
  display: block;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0.5rem;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
  background: var(--button-bg-color);
  color: var(--button-color);
}
button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}

button.explanationonly {
  --button-bg-color: #28a745;
  --button-hover-bg-color: #218838;
}

button.both {
  --button-bg-color: #dc3545;
  --button-hover-bg-color: #c82333;
}

button.problemonly {
  --button-color: #212529;
  --button-bg-color: #ffc107;
  --button-hover-bg-color: #e0a800;
}

:root {
  --button-color: #ffffff;
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #025ce2;
}
