@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Noto Sans KR";
    @apply bg-skin-base text-skin-fg;
  }

  :root {
    --color-background: #fff;
    --color-background-muted: #4b5563;
    --color-background-medium: #d1d5db;

    --color-text: black;
    --color-header: 0, 0, 0;
    --color-header-text: 245, 245, 245;
    --color-text-muted: #4b5563;

    --color-focus: #06b6d4;
    --color-anchor: #8b5cf6;
    --color-anchor-hover: #a78bfa;

    --color-primary: #fee2e2;
    --color-secondary: #fef3c7;
  }
}

@layer utilities {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none !important;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: transparent !important;
  }
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 00;
}


@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}